<%#
    needs: router - (optional) leave blank if you are not in an engine; otherwise specify your engine routes mount name


    This partial renders a DOM element that serves as a placeholder for the actual data_table.
    A subsequent ajax request will update this DOM element with the actual table content.
  %>
<%  extra_params = HashWithIndifferentAccess.new
    if records
        extra_params[:sort]   = records.sorted_by_hash.map{|k,v| "#{k} #{v}"}
        extra_params[:filter] = records.filter_hash
    end
%>
<% if fetch_on_page_load %>
    <ts-loadable href="<%= url %>" extra-params='<%= extra_params.to_json %>' extra-params-form-selector="form#<%= filter_form_id %>">
        <table class="data_table">
          <tr>
            <td style="text-align:center; padding: 2em">
                <icon style="font-size:200px" class="animate-rotate-left">sync</icon>
            </td>
          </tr>
        </table>
    </ts-loadable>
<% else %>
    <ts-loadable href="<%= url %>" extra-params='<%= extra_params.to_json %>' lazyload>
    </ts-loadable>
<% end %>

<script class="needs_processing">

    TopsailStarter.elementBeforeThisScriptNode()[0]
                  .addEventListener("ts-loaded", function(){
        var $table = $(this.children[0]);
        TopsailStarter.DataTable.initialize_ajaxy( $table );
    });

</script>
