<!--
 |
 |  ts-select2
 |
 |   uses JQuery/Select2
 |
 |   Note: this uses select2 >= 4.0;
 |         the JQuery Event "change" will be translated into a CustomEvent that can be trapped via addEventLsitener
 |
 |   Examples:
 |       <select is="ts-select2" name="tokenized" multiple="true" data-tags="true"></select>
 |
 +-->
 <script src="ts-select2.js"></script>