.ts-floatlabel-wrapper {

  $floatlabel_label_size: 0.7em;
  $floatlabel_label_padding: 0.2em;

  position: relative;
  display: inline-block;

  label {
    position: absolute;
    top: $floatlabel_label_padding;
    left: $floatlabel_label_padding;

    font-size: $floatlabel_label_size !important; // this one was likely to be overwritten globally
    opacity: 0.7;

    display: none;
  }

  input {
    padding: ($floatlabel_label_size + $floatlabel_label_padding)/2 0;
  }

  //
  // floated
  //
  &.ts-floatlabel-active {
    input {
      padding-top: $floatlabel_label_size + $floatlabel_label_padding;
      padding-bottom: 0;
    }
    label {
      display: block;
    }
  }

}
