
<script src="ts-floatlabel.js"></script>
<link rel="stylesheet" href="style.css" />

<template id="ts-floatlabel">

  <span class="ts-floatlabel-wrapper">
    <label></label>
    <content select="input"></content>
  </span>

</template>
