// Opacity values for text/icons
$dark-primary-color:    rgba(0, 0, 0, 0.87);
$dark-secondary-color:  rgba(0, 0, 0, 0.54);
$dark-icon-color:       rgba(0, 0, 0, 0.38);

$light-primary-color:   rgba(255, 255, 255, 1  );
$light-secondary-color: rgba(255, 255, 255, 0.7);
$light-icon-color:      rgba(255, 255, 255, 0.3);

// Font
$font-family-base: Helvetica Neue,Arial,sans-serif !default;

$font-color-light: white !default;
$font-color-dark: black !default;

$font-color-base: #454545;
$font-color-header: #333333;
$font-color-content: #333333;
$font-color-hover: #2b2b2b;
$font-color-active: #ffffff;
$font-color-error: #DB2323 !default;
$font-color-highlight: #777620 !default;

$font-weight-base: normal;


// Borders
$border-color-default: #c5c5c5;
$border-color-header: #dddddd;
$border-color-content: #dddddd;
$border-color-hover: #cccccc;
$border-color-active: #003eff;
$border-color-error: #f1a899;
$border-color-highlight: #dad55e !default;

// Background
$background-color-default: #f6f6f6;
$background-color-header: #e9e9e9;
$background-color-content: #ffffff;
$background-color-hover: #ededed;
$background-color-active: #007fff;
$background-color-error: #fddfdf;
$background-color-highlight: #fffa90 !default;

$background-color-overlay: #aaaaaa;
$background-color-shadow: #666666;

$opacity-overlay: .3;


$brand-color-primary: #00829B !default;
$brand-color-secondary: white !default;
