/*
 *
 *     <icon>icon name</icon>
 *
 *  Uses Material design fonts.
 *  See https://design.google.com/icons/
 *
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;  /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale;  /* Support for Firefox. */
  font-feature-settings: 'liga';       /* Support for IE. */
}

.icon {
  font-family: 'Material Icons';

  /* to allow ligatures (text content in el) */
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';       /* Support for IE; seems to also work in future Chrome (48) */
}