.ts-widget {
  font-family: $font-family-base;
  font-size: inherit;

  &.ts-widget-content {
    border: 1px solid $border-color-default;
  }
}

.ts-widget-header {
  border: 1px solid $border-color-header;
  background: $background-color-header;
  color: $font-color-header;
  font-weight: bold;

  a { color: $font-color-header; }
}

.ts-widget-content {
  border: 1px solid $border-color-content;
  background: $background-color-content;
  color: $font-color-content;

  a { color: $font-color-content; }
}

.ts-widget input,
.ts-widget select,
.ts-widget textarea,
.ts-widget button {
  font-family: $font-family-base;
  font-size: 1em;
}

.ts-widget-overlay {
  background: $background-color-overlay;
  opacity: $opacity-overlay;
  // filter: Alpha(Opacity=30)/*{opacityFilterOverlay}*/; /* support: IE8 */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ts-widget-shadow {
  -webkit-box-shadow: 0/*{offsetLeftShadow}*/ 0/*{offsetTopShadow}*/ 5px/*{thicknessShadow}*/ #666666/*{bgColorShadow}*/;
  box-shadow: 0/*{offsetLeftShadow}*/ 0/*{offsetTopShadow}*/ 5px/*{thicknessShadow}*/ #666666/*{bgColorShadow}*/;
}