form.new_filter {

  /* All filters */
  & > .filter_group > * {
    white-space: nowrap;
    margin: 0.5em 1em;
  }

  input {
    margin: 0.5em 0;
  }


  /* Meaningful defaults for individual filter types */
  & > .filter_group {
    @mixin non-select2-field {
      line-height: 24px;  /* same size as select2 */
      font-size: 1em;     /* unhook browser default */
      &::-webkit-input-placeholder {text-align: center;}
    }

    & > .filter_boolean {
      @include non-select2-field;
    }

    & > .filter_date {
      @include non-select2-field;
      width: 10em;
    }

    & > .filter_date_range {
      @include non-select2-field;
    }

    & > .filter_date_time {
      input {
        @include non-select2-field;
        width: 16em;
      }
    }

    & > .filter_date_time_range {
      input {
        @include non-select2-field;
        width: 16em;
      }
    }

    & > .filter_search_any_tokenized {
      .select2-selection__placeholder { text-align: center; display: block; }
      input {width: 20em;}
    }

    & > .filter_search_one {
      input {
        @include non-select2-field;
        width: 20em;
      }
    }

    & > .filter_select_many {
      .select2-selection__placeholder { text-align: center; display: block; }
    }

    & > .filter_select {
      .select2-selection__placeholder { text-align: center; display: block; }
      select{width: 20em;}
    }

    & > input[type=submit] {
    }
  }
}
