<%# needs   @record
%>
<%= form_for(@record,
             url: polymorphic_url(@record, format: 'html'),
             remote: request.xhr?,
             :html => {:class => 'resource_form'}) do |f| %>

  <%= render 'validation_errors' %>

	<%= render :partial => 'form', :locals => {:f => f} %>

	<%= render 'form_actions', :form => f -%>

<% end %>
