<%# needs   form - the form builder
%>
<% remote = request.xhr? %>


<div id="form_actions">

  <%= form.submit class: 'primary button' %>

  <% if remote %>
    <%= link_to "Cancel", "#", onclick: 'return TopsailStarter.DataTable.restore_original_tr( $(this).closest("tr") );', :class => 'secondary button cancel' %>
  <% else %>
    <%= link_to "Cancel", url_for(form.object.class), :class => 'secondary button cancel' %>
  <% end %>

  <% if !form.object.new_record? && can?(:destroy, form.object) %>
      <%= form.button "Delete", name: '_method', value: 'delete',
                      remote: remote,
                      data: { confirm: "Are you sure you want to delete this #{form.object.class.model_name.human}?" },
                      class: 'alert' %>
  <% end %>

</div>
