<%# needs @records %>

<%# if @records.filterable_by.any? %>
<% if @records.filter_keys.any? %>
  <fieldset id="index_filter">

    <legend>Filter</legend>
    <%= RecordFilter.new self, {records: @records} %>

  </fieldset>
<% end %>