<% if request.xhr? %>

  <%= render 'index_table' %>

<% else %>
  <div id="dictionary_index">

    <h1><%= @records.model.model_name.human.pluralize %></h1>

    <%= render 'index_filter' %>
    <%= render 'index_table' %>
    <%= render 'index_page_trailer' %>

  </div>
<% end %>