<!-- <ts-dirty-detector></ts-dirty-detector>
 |
 |  Just add
 |
 |        <ts-dirty-detector></ts-dirty-detector>
 |
 | anywhere inside a form.
 |
 |  attributes:  dirty-message (optional) - the message being displayed when onloading a dirty form.
 |                                          Default: 'You will lose all unsaved changes.'
 |               disabled (optional) -  if present, don't do dirty detection. (Use JS to enable dirty detection if needed)
 |
 |  properties: dirty_message - get/set dirty-message attribute
 |              disabled - boolean; set/get disabled attribute
 |              dirty    - getter if the form is currently dirty
 |
 |  TODO: remove dirty detection of the form/dirty-detector is being remioved form the DOM.
 |
-->
<script src="ts-dirty-detector.js"></script>