<%# needs records,
          cell_procs - (array of lambdas) the code that generates a table cell content
          hide_initially - (boolean - optional; default: false) - should the section be hidden
%>
<tbody <%= raw('style="display:none"') if defined?(hide_initially) && hide_initially %>>

    <%= content_tag :tr,
                content_tag(:td, "No #{records.model_name.human(count: 0)} found",
                            colspan: cell_procs.size),
                class:'no_records_found' %>

    <%
       any_records_found = false
       for record in records do
          any_records_found = true
    %>
           <%= render 'tr', record: record, cell_procs: cell_procs %>
    <% end %>

</tbody>