<% if records.respond_to?(:total_pages) # should paginate single tbody %>
  <tr class="will_paginate">
    <td colspan="<%= num_columns %>">
      <%# for now we are assuming ajaxy; refactor when we need it non-ajaxy, if ever %>
      <ts-loadable-param-updater param-name="paginate">
        <%= will_paginate records, :param_name => 'paginate[page]', params:{ scope: router } %>
      </ts-loadable-param-updater>
      <%= content_tag :span, page_entries_info(records, model: records.model), class: 'page_info' %><%# specifying the :model option saves an expensive query! %>

      <%= will_sort_jump_to(records) %>

    </td>
  </tr>
<% end %>