$icon_size: 1em;

ts-loadable-sorter {

  display: block; // to make it span the whole cell
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  /* text-decoration: none;
     color: inherit; */

  // white-space: nowrap; does not work well in Firefox (puts icon in next row); using padding and margin
  padding-right: $icon_size;

  &:after {
      position: absolute;
      right: 0;
      font-size: $icon_size;

      font-family: 'Material Icons';
      text-rendering: optimizeLegibility;  /* to allow ligatures (text content in el) */
      font-feature-settings: 'liga';       /* Support for IE; seems to also work in future Chrome (48) */

      content: 'expand_less';

      opacity: 0.2;
  }

  /* sorted */
  &[sort-pos]:after{
    opacity: 1;
  }
  &[sort-pos][desc]:after{
    content: 'expand_more';
  }

  span.sort_position {
    float: right;
    margin-right: -$icon_size;
    font-size: 0.5em;
  }
  &[sort-pos]:not([desc]) > span.sort_position {
    margin-top: 1em;
  }
}
