<%
    unaccounted_filter_params.each{ | unaccounted_filter_param |

      filter_val = record_filter[unaccounted_filter_param]

      if filter_val.is_a?(Array)
        filter_label = h("#{ human_filter_label unaccounted_filter_param }: ")
%><%=
        render 'filter_select',
               form_builder: form_builder,
               filter_key: unaccounted_filter_param,
               single_filter_config: {
                             outside_label: filter_label,
                             choices: filter_val,
                             multiple: true
              }
%><%
      else
        filter_label = h("#{ human_filter_label unaccounted_filter_param }") +
                       raw('&nbsp;') +
                       content_tag(:span, filter_val, style:'font-style: italic')
%>&nbsp;<%=
        render 'filter_boolean',
                form_builder: form_builder,
                filter_key: unaccounted_filter_param,
                single_filter_config: {label: filter_label, true_value: filter_val}
%><%
      end

    }
%>
