<label class='filter_boolean'><%=

  form_builder.check_box(filter_key, {include_hidden: false}, (single_filter_config[:true_value] || 1).to_s, '')

  %>&nbsp;<%=

  single_filter_config[:label] || content_tag(:span, human_filter_label(filter_key), style:'font-style: italic')

  %>&nbsp; Only</label>