<label class='filter_date_range'><%=

  # the :date_field method expects the form_builder to return a date/time, but we store a string.
  # For that reason we need to code around the actual value attribute
  from_val = form_builder.object.send("#{filter_key}_on_or_after")
  to_val   = form_builder.object.send("#{filter_key}_on_or_before")

  single_filter_config[:label] || human_filter_label(filter_key) %>&nbsp;<%=
  form_builder.date_field("#{filter_key}_on_or_after",  value: from_val) %>&nbsp;to&nbsp;<%=
  form_builder.date_field("#{filter_key}_on_or_before", value: to_val)

%></label>