<%
    choices = single_filter_config[:choices] || []
    if choices.is_a?(Hash)
      choices.reject!{ |k,v| v.blank? }
    else
      choices.reject! &:blank?
    end

    multiple = single_filter_config[:multiple] || record_filter[filter_key].is_a?(Array)
%>

<span class='filter_select'><%=

  single_filter_config[:outside_label] %><%=
  form_builder.select2(filter_key,
                       choices,
                       { include_blank: h(single_filter_config[:label] || "- Select #{ human_filter_label filter_key } -") },
                       multiple: multiple)

%></span>