<%= form_for(record_filter, :url => url, :as => :filter, method: 'get', html: form_html_opts) do | f | %>

  <ts-form-push-state replace-state></ts-form-push-state>
  <ts-form-onchange-submit></ts-form-onchange-submit>

  <div class="filter_group">
    <%= filter_group f, always_visible_config %>
  </div>

  <div class="filter_group optional_filter_group">
    <%= filter_group f, optionally_visible_config %>
  </div>

  <div class="filter_group adhoc_filter_group">
    <%= adhoc_filter_group f %>
  </div>

  <%# hide the SUBMIT button.
      We can not just remove this button, because IE will not submit forms on ENTER if no submit button is visible.
      Also, if we just hide the button, Chrome etc. will double-submit the form on ENTER. %>
  <%= f.submit 'Go', class: 'button', disabled: true, style: 'position:absolute; left:-1000px' %>

<% end %>
