<style>
  #index_filter select[name="filter[audited_type]"]{ width: 20em; }
  #index_filter input[name="filter[audited_id]"]{ width: 5em; }
  #index_filter select[name="filter[action]"]{ width: 9em; }
  #index_filter .filter_date_time_range{ clear: left }

</style>

<fieldset id="index_filter">

  <legend>Filter</legend>

  <%= RecordFilter.new self,
                       records: @records,
                       always_visible_config: {
                         audited_type: {type: 'select', choices: AuditLog.order(:audited_type).pluck('distinct audited_type') },
                         audited_id: {type:'search_one', label: 'Audited ID'},
                         action: {type: 'select', choices: ['create', 'update', 'delete'], label: 'Action'},
                         created_at: {type: 'date_time_range', label: 'Created'}
                       }
  %>

</fieldset>
