<%# needs  attributes_hash
           changes
%>
<table class="changed_attributes">
  <% attributes_hash.each{ | k, v | 
      v_change = changes[k]
  %>
      <tr<%= ' class=changed' if v_change %>>
        <%= content_tag :th, k %>
        <td>
          <%= v_change ? "#{v_change[0]} => #{v_change[1]}" : v %>
        </td>
      </tr>
  <% } %>
</table>